@{
    Layout = null;
    ViewData["Title"] = "Login";
    ViewData["PageName"] = "page_login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        Login - DTS Enterprise Resourse Planning
    </title>
    <meta name="description" content="Login">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" media="screen, print" href="css/vendors.bundle.css">
    <link rel="stylesheet" media="screen, print" href="css/app.bundle.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" media="screen, print" href="css/page-login.css">
    <link href="~/css/notifications/toastr/toastr.css" rel="stylesheet" />
</head>
<body>
    <div class="blankpage-form-field">
        <div class="page-logo m-0 w-100 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
            <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                <img src="img/ghani-foundation.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
                <span class="page-logo-text mr-1">Ghani Foundation</span>
            </a>
        </div>
        <div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
            <form asp-controller="Home" asp-action="Index" id="form">
                <div class="form-group">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" id="username" class="form-control" placeholder="" value="">
                    <span class="help-block">
                     
                    </span>
                </div>
                <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" id="password" class="form-control" placeholder="" value="">
                    <span class="help-block">
                      
                    </span>
                </div>
                @*<div class="form-group text-left">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="rememberme">
                            <label class="custom-control-label" for="rememberme"> Remember me for the next 30 days</label>
                        </div>
                    </div>*@
                <button type="submit" id="btnSubmit" class="btn btn-outline-primary float-right">login</button>
            </form>
        </div>
        @*<div class="blankpage-footer text-center">
                <a href="#"><strong>Recover Password</strong></a> | <a href="#"><strong>Register Account</strong></a>
            </div>*@
    </div>
    @*<div class="login-footer p-2">
            <div class="row">
                <div class="col col-sm-12 text-center">
                    <i><strong>System Message:</strong> You were logged out from 198.164.246.1 on Saturday, March, 2017 at 10.56AM</i>
                </div>
            </div>
        </div>*@
    <video poster="img/backgrounds/clouds.png" id="bgvid" playsinline autoplay muted loop>
        <source src="media/video/cc.webm" type="video/webm">
        <source src="media/video/cc.mp4" type="video/mp4">
    </video>
    @*base vendor bundle:
        DOC: if you remove pace.js from core please note on Internet Explorer some CSS animations may execute before a page is fully loaded, resulting 'jump' animations
                   + pace.js (recommended)
                   + jquery.js (core)
                   + jquery-ui-cust.js (core)
                   + popper.js (core)
                   + bootstrap.js (core)
                   + slimscroll.js (extension)
                   + app.navigation.js (core)
                   + ba-throttle-debounce.js (core)
                   + waves.js (extension)
                   + smartpanels.js (extension)
                   + src/../jquery-snippets.js (core)*@
    <script src="js/vendors.bundle.js"></script>
    <script src="js/app.bundle.js"></script>
    <script src="~/js/notifications/toastr/toastr.js"></script>
    @*Page related scripts*@
</body>
</html>


<script>
    $(document).ready(function () {
        $('#btnSubmit').click(function () {

            var name = $("#username").val();
            var pass = $("#password").val();

            $("#btnSubmit").html('<i class="fal fa-spinner fa-spin"></i>  Working...');
            $('#btnSubmit').attr('disabled', true);
            if (name !== "") {
                if (pass !== "") {

                    $.ajax({
                    url: "@Url.Action("Login", "User")",
                    data: { usrName: name, usrPassword: pass },
                    type: 'post',
                    dataType: "text",
                    success: function (data) {
                        console.log(data);
                        if (data !== "") {
                            Command: toastr["error"]("" + data + "")
                            $("#btnSubmit").html('login');
                            $('#btnSubmit').attr('disabled', false);
                            return false;
                        } else {
                            window.location = "/Home/Index";
                        }
                    },
                    error: function (error) {
                        console.log(error);
                        Command: toastr["error"]("An error occured.   " + error +"")
                        $("#btnSubmit").html('login');
                        $('#btnSubmit').attr('disabled', false);
                        return false;
                    }

                });

                } else {
                    Command: toastr["error"]("Please enter password to proceed!.")
                    $("#btnSubmit").html('login');
                    $('#btnSubmit').attr('disabled', false);
                    return false;
                }
            } else {
                Command: toastr["error"]("Please enter user name to proceed!.")
                $("#btnSubmit").html('login');
                $('#btnSubmit').attr('disabled', false);
                return false;
            }


        });
    });
</script>
